.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(146, 144, 144, 0.132);

  .modal {
    position: absolute;
  }
}

.align--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align--top-right {
  top: 10px;
  right: 10px;
}
